* {
    font-family: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
}

main{
    display: flex;
}

.banner-side {
    width: min(600px, 50vw);
    height: 100vh;
    background:  no-repeat url(https://images.unsplash.com/photo-1602136773736-34d445b989cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.logoBanner{
    background-color: rgba(0, 0, 0, 0.523);
    color: white;
    font-weight: bold;
    height: 120px;
    width: 100%;
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 110px;
}

.logoName h1 {
    font-size: 40px;
}


.banner-side footer {
    letter-spacing: 2px;
}

.form-side {
    width: 100%;
    background-color: #000;
    color: #c1c1c1;
    display: flex;
    flex-direction: column;
}

.headBanner {
    padding: 1em;
    padding-right: 3vw;
    padding-top: 5em;
    font-size: 20px;
}


form{
    background-color: #000;
}
/* ---- Makes padding and rows for input fields.----- */
.form-box {
    color: #a1a1a1;
    background-color: rgba(1, 1, 1, 0.855);
    box-shadow: 0px 3px 8px #181818;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

/* makes each row have two columns */
.formRow {
    display: flex;
    padding-right: 5vw;
}

/* each block grows with screen */
.inputBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 30px;
}

.inputBlock label {
    font-size: 10px;
}



/* ---- ----- Form Inputs ----- ---- */

.inputBlock input {
    border: 1px solid #6d6d6d98;
    background-color: transparent;
    border-radius: 3px;
    color: #9f9f9fd2;
    margin: 4px -2px;
}

/* blue- #00c3ff; */

.inputBlock input:focus {
    outline: none !important; rgba(255, 255, 255, 0.91);
    border: 2px solid rgba(183, 227, 255, 0.91);
    box-shadow: 0px 0px 4px 1px #0099fffa;
}

/* red- #fc4848c8; */
input:not(:focus):not(:placeholder-shown):invalid {
    outline: none !important;
    border: 2px solid rgba(255, 180, 180, 0.873);
    box-shadow: 0px 0px 5px 1px  #ff3939fb;
}

.inputBlock span{
    color: red;
    font-size: 12px;
    padding: 5px 3px;
}

/* ----- ----- ----- ----- ----- ---- */
.buttonBlock {
    padding: 30px 20px;
}

.buttonBlock button {
    padding: 5px 15px;
    color: #ff2ec7;
    border: 3px solid #ff2ec7;
    border-radius: 8px;
    font-size: 16px;
    background-color: #000;
}

.buttonBlock button:hover {
    background-color: #ff2ec7;
    color: #000;
    cursor: pointer;
}

.buttonBlock button:active {
    background-color: #f800b6;
}

.existingAccount {
    padding: 10px 18px;
}

.existingAccount a {
    color: #ff2ec7;
    letter-spacing: 2px;
}

.existingAccount a:hover{
    color: #c1c1c1;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    .banner-side {
        width: 100%;
        height: min(110px, 30vh);
    }

    .logoBanner {
        margin: 0;
    }

    .buttonBlock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .existingAccount {
        display: flex;
        justify-content: center;
        align-items: top;
    }
}